.style1{
	color:#0066FF;
}
BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Tahoma,Arial; BACKGROUND-COLOR: #ffffff
}
A {
	TEXT-DECORATION: none; outline: none
}
A:link {
	COLOR: #000000
}
A:visited {
	COLOR: #000000
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.counterMember {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.counterNumberMember {
	FONT-SIZE: 8pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.likeWin {
	FONT-SIZE: 10pt; BACKGROUND: #e4e6e4; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.likeWin:hover {
	FONT-SIZE: 10pt; BACKGROUND: #e4e6e4; COLOR: red; FONT-FAMILY: Arial,Verdana,Tahoma
}
.menuCat {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.menuCat:hover {
	FONT-SIZE: 9pt; COLOR: red; FONT-FAMILY: Verdana,Tahoma,Arial
}
.likeWin1 {
	FONT-SIZE: 8pt; BACKGROUND: #e4e6e4; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.likeWinSelect {
	FONT-SIZE: 10pt; BACKGROUND: #f4f4f4; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.likeWinSelect:link {
	FONT-SIZE: 10pt; BACKGROUND: #f4f4f4; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.likeWinSelect:unknown {
	FONT-SIZE: 10pt; BACKGROUND: #f4f4f4; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.likeWinSelect:hover {
	FONT-SIZE: 10pt; BACKGROUND: #f4f4f4; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma; TEXT-DECORATION: none
}
.titleRecord {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.linkBlue {
	FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: Arial,Verdana,Tahoma
}
.linkBlue:link {
	FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: Arial,Verdana,Tahoma
}
.linkBlue:visited {
	FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: Arial,Verdana,Tahoma
}
.linkBlue:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.navBig {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Tahoma,Arial
}
.navItem {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Tahoma,Arial
}
.navItemLink {
	FONT-SIZE: 9pt; COLOR: #0000ff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: none
}
.navItemLink:link {
	FONT-SIZE: 9pt; COLOR: #0000ff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: none
}
.navItemLink:visited {
	FONT-SIZE: 9pt; COLOR: #0000ff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: none
}
.navItemLink:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.submitEmail {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
.detailTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Arial,Tahoma
}
.priceTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #008000; FONT-FAMILY: Verdana,Arial,Tahoma
}
.titleCategory {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Arial,Tahoma
}
.titleCategory:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Arial,Tahoma
}
.titleCategory:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Arial,Tahoma
}
.titleCategory:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Arial,Tahoma
}
.titleMenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #606060; FONT-FAMILY: Verdana,Arial,Tohoma; TEXT-DECORATION: none
}
.titleMenu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #606060; FONT-FAMILY: Verdana,Arial,Tohoma; TEXT-DECORATION: none
}
.titleMenu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #606060; FONT-FAMILY: Verdana,Arial,Tohoma; TEXT-DECORATION: none
}
.titleMenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Arial,Tohoma; TEXT-DECORATION: none
}
.votes {
	FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: arial,Verdana,Tahoma
}
.votes:link {
	FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: arial,Verdana,Tahoma
}
.votes:visited {
	FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: arial,Verdana,Tahoma
}
.votes:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: arial,Verdana,Tahoma
}
.weblink {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.weblink {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.weblink:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.weblink:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial,Verdana,Tahoma
}
.weblink:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.loginNew {
	FONT-SIZE: 8pt; BACKGROUND: #e4e6e4; COLOR: #ff3300; FONT-FAMILY: Verdana,Tahoma,Arial
}
.navBig {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Tahoma,Arial
}
.no {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBg {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBlue:link {
	FONT-SIZE: 9pt; COLOR: #0000a0; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBlue:visited {
	FONT-SIZE: 9pt; COLOR: #0000a0; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBlue:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordWhere {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.no {
	FONT-SIZE: 7pt; COLOR: #006666; FONT-FAMILY: Tahoma,Arial,Verdana
}
.recordBg:link {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBg:visited {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBg:hover {
	FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBgBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBgBold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBgBold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.recordBgBold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma
}
.titleNewSmall {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #006666; FONT-FAMILY: Arial,Tahoma,Verdana
}
.viewNew2 {
	FONT-SIZE: 8pt; COLOR: #006666; FONT-FAMILY: Arial,Verdana,Tahoma
}
.viewNew1 {
	FONT-SIZE: 8pt; COLOR: #ff3300; FONT-FAMILY: Arial,Verdana,Tahoma; BACKGROUND-COLOR: #f4f4f4
}
.copyright1 {
	FONT-SIZE: 8pt; COLOR: #707070; FONT-FAMILY: Verdana,Tahoma,Arial
}
.copyright1:link {
	FONT-SIZE: 8pt; COLOR: #707070; FONT-FAMILY: Verdana,Tahoma,Arial
}
.copyright1:visited {
	FONT-SIZE: 8pt; COLOR: #707070; FONT-FAMILY: Verdana,Tahoma,Arial
}
.copyright1:hover {
	FONT-SIZE: 8pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Tahoma,Arial
}
.titleRecord1 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.titleDetail {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.titleSell {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleSell:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleSell:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleSell:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleBuy {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleBuy:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleBuy:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleBuy:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.titleLogged {
	FONT-SIZE: 8pt; COLOR: #808080; FONT-FAMILY: Verdana,Tahoma,Arial
}
.navItemBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Verdana,Tahoma,Arial
}
.editDelete {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: none; outline: none
}
.editDelete:link {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: none
}
.editDelete:visited {
	FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: none
}
.editDelete:hover {
	FONT-SIZE: 8pt; COLOR: #ff3300; FONT-FAMILY: Verdana,Tahoma,Arial; TEXT-DECORATION: underline
}
.tborder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.panelsurround {
	BACKGROUND: #f5f5f5; COLOR: #333333
}
.button {
	FONT: 11px verdana,arial, helvetica
}
.panel {
	BORDER-RIGHT: 2px outset; PADDING-RIGHT: 10px; BORDER-TOP: 2px outset; PADDING-LEFT: 10px; FONT-SIZE: 9pt; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 10px; BORDER-LEFT: 2px outset; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: 2px outset; FONT-FAMILY: Verdana,Tahoma,Arial
}
.panelsurround {
	BACKGROUND: #f5f5f5; COLOR: #333333
}
.bginput {
	FONT: 9pt verdana,arial,helvetica
}
.bginput1 {
	FONT: bold 8pt verdana,arial,helvetica
}
.controlbar {
	BACKGROUND: #ece9d8
}
.page {
	FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana,Tahoma,Arial
}
.page:link {
	FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana,Tahoma,Arial
}
.page:visited {
	FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana,Tahoma,Arial
}
.page:hover {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.page1 {
	FONT-SIZE: 8pt; COLOR: #808080; FONT-FAMILY: Arial,Verdana,Tahoma,Arial
}
.page2 {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.custDate {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.buySale {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #006666; FONT-FAMILY: Arial,Verdana,Tahoma
}
.normal {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.mailNum {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Tahoma,Arial
}
.lineMenuBar {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial,Verdana,Tahoma
}
.titleDetail {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana,Tahoma,Arial
}